<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Data Source=(LocalDb)\v11.0;
       Initial Catalog=Todo;
       Integrated Security=SSPI" 
       providerName="System.Data.SqlClient" />

  <!--<add name="DefaultConnection"
     connectionString="Data Source=.\SQLEXPRESS2012;
       Initial Catalog=Todo;
       User ID=sa;Password=1;          
       multipleactiveresultsets=True;"
     providerName="System.Data.SqlClient" />-->
</connectionStrings>