{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "spaced-comment": 0,
    "object-curly-spacing": [2, "never"],
    "max-len": [2, 120, {"ignoreComments":true}],
    "no-shadow": [2, { "builtinGlobals": false, "hoist": "functions", "allow": ["err"] }],
    "key-spacing": 0,
    "comma-dangle": [2, "never"],
    "arrow-body-style": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-space-before-closing": [2, "never"]
  },
  "globals": {
    "__APIUrl__": true,
   "__AUTHORITY_URL__": true
  }
}
