<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Completed</th>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Due Date</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>
        <todo-colored-flag [value]="item.completed"></todo-colored-flag>
      </td>
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.description}}</td>
      <td>{{references.priorities[item.priority]}}</td>
      <td>{{item.dueDate | date}}</td>
      <td>
        <a [routerLink]="['ItemEdit', {id: item.id}]" class="btn btn-default">
          <span class="fa fa-pencil"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<pagination [totalItems]="total" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize"
  [maxSize]="5" class="pagination-sm" [boundaryLinks]="true"></pagination>
